*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #000000;
    color: aliceblue;
}

h1{
    text-align: center;
    padding-top: 20px;
}

h3{
    text-align: justify;
    padding-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.img1{
    width: 200px;
    padding-top: 180px;
    margin: 0 0 0 570px;       
}
ul{
    text-align: center;
    padding-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    list-style: none;    
}
li{
    padding-bottom: 15px;
    font-size: large;    
}
a{
    color: aliceblue;
    text-decoration: none;
}

